/* Control panel styling */
#controls {
    padding: 10px;
    background-color: #f8fcff;
    border-bottom: 2px solid #bddde6;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    font-size: 14px;
}

/* Input fields and buttons */
#controls input,
#controls button,
#controls select {
    padding: 6px;
    margin: 3px;
    border: 1px solid #bddde6;
    border-radius: 3px;
    font-size: 12px;
}

/* Button hover effects */
#controls button:hover {
    background-color: #005480;
}

/* Map container styling */
#map {
    height: 85vh; /* Increased map height */
    border-top: 2px solid #bddde6;
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.1);
}
